body {
   background-color: #dac6c1;
}

h1, p {
  font-family: Lato;
}

/* NavBar */
.navbar-items ul {
  display: flex;
  list-style: none;
}

.navbar-items ul li {
  border: 1px solid #fec89a;
  background-color: white;
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.navbar-items ul li a {
  text-decoration: none;
  color: black;
}

.navbar-input {
   display: flex;
   justify-content: center;
}

.search-icon {
  /* border: 1px solid #fec89a; */
  padding: 0.36rem 1rem;
  align-self: center;
  margin-top: 1rem;
  color: white;
  background-color: #fec89a;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.navbar-input input {
  width: 350px;
  border: 0.11rem solid #fec89a;
  border-radius: 3px 0 0 3px;
  margin-top: 1rem;
  padding: 0.3rem;
}

.book-list{
 margin-top: 5rem;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.image {
  height: 250px;
  width: 180px;
  margin-bottom: 1rem;
  -moz-asx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateX(0);
  cursor: pointer;
}

.image:hover {
  transform: scale(1.05);
  transition : transform 0.25s ease-out;
}

.book p {
 text-transform: capitalize;
}

.book button {
 margin-right: 0.5rem;
 outline: none;
 border: 1.5px solid #fec89a;
 background-color: white;
 border-radius: 5px;
 -moz-asx-font-smoothing: grayscale;
 backface-visibility: hidden;
 transform: translateX(0);
}

.book button:hover, .navbar-items ul li:hover {
  background-color: #fec89a;
  border: 1.5px solid white;
  transform: scale(1.05);
  transition : transform 0.25s ease-out;
}

.title {
  font-weight: bold;
  font-style: italic;
}
